<div class="content-clock">
    <div class="digital-clock">
      <div class="weather-content">
        <div class="seccion-weather l" id="gradosConta">
          <img src="images/termostato.png" alt="" class="icon-wheater">
          <span id="gradosTemp">Load...</span>
        </div>
        <div class="seccion-weather r" id="precipitacionConta">
          <img src="images/nube_lluviosa.jpg" alt="" class="icon-wheater">
          <span id="porcentajePre">Load...</span>
        </div>
      </div>
  

      <span id="digitalClockTime">
        <span class='seccion-digital-clock' id="hoursClock"></span>:<span class='seccion-digital-clock' id="minutesClock"></span>:<span class='seccion-digital-clock' id="secondsClock"></span><span class="meridiano-clock" id="meridianoClock"></span>
      </span>
    </div>
  </div>